<!doctype html>
<html>

<head>

<title> Biodata </title>

<style>
	h1{
		font-family: garamond; 
		text-align: center; 
		padding-top: 50px;
		padding-bottom: 30px; 
		font-size: 50px;
	}

	body{
		font-family: garamond; 
		background-size: 100%; 
		color: black; 
		background: url(https://www.hdwallpapers.in/download/beach_ios_10_stock_hd-wide.jpg); 
		background-repeat: no-repeat; 
		background-attachment:fixed; 
		background-size: cover;
	}
	.row {display:flex;}
	.column {display: block; margin-left: auto; margin-right: auto; padding-bottom: 50px;} 
	.foto{float: left;}
	.bio{float: right;}

</style>

</head>

<body>

	<h1>Profile</h1>

	<div class="row">
		<div class="column foto">
			<img src="https://pbs.twimg.com/profile_images/1032969675234136065/w8YTwzi6_400x400.jpg" height="300";/>
		</div>

		<div class="column bio">

			<p> <font size="+2"><strong>Nama:</strong> {{ name }} </font></p>
			<p> <font size="+2"><strong>NPM:</strong> {{ npm }} </font></p>
			<p> <font size="+2"><strong>Umur:</strong> {{ age }} </font></p>
			<p> <font size="+2"><strong>Tempat, tanggal lahir:</strong> Jakarta, 16 November 1999</font></p>
			<p> <font size="+2"><strong>Institusi:</strong> Fakultas Ilmu Komputer, Universitas Indonesia</font></p>
			<p> <font size="+2"><strong>Hobi:</strong> Nonton Film/Drama, Mendengarkan Musik</font></p>
			<p> <font size="+2"><strong>Deskripsi:</strong> saya adalah orang yang seru dan bersemangat</font></p>
			<p> <font size="+2"><strong>Social Media:</strong> <a href= "https://twitter.com/kayzaadisti">Twitter</a>, <a href= "https://instagram.com/kayzaadisti">Instagram</a></font></p>
		</div>
	</div>

	<div class="row">
		<div class="column foto">
			<img src="https://i.imgur.com/b34ylWj.jpg" height="300"; width="300"/>
		</div>

		<div class="column bio">

			<p> <font size="+2"><strong>Nama:</strong> Siti Nurfitriyah </font></p>
			<p> <font size="+2"><strong>NPM:</strong> 1706984745 </font></p>
			<p> <font size="+2"><strong>Umur:</strong> 19 </font></p>
			<p> <font size="+2"><strong>Tempat, tanggal lahir:</strong> Jakarta, 12 November 1998 </font></p>
			<p> <font size="+2"><strong>Institusi:</strong> Fakultas Ilmu Komputer, Universitas Indonesia</font></p>
			<p> <font size="+2"><strong>Hobi:</strong> Nyanyi di kamar mandi </font></p>
			<p> <font size="+2"><strong>Deskripsi:</strong> baik hati, tidak sombong, suka menabung </font></p>
			<p> <font size="+2"><strong>Social Media:</strong><a href= "https://instagram.com/fitrishb">Instagram</a></font></p>
		</div>
	</div>

	<div class="row">
		<div class="column foto">
			<img src="http://komputerlamongan.com/wp-content/uploads/2014/11/Fungsi-Komputer.jpg" height="300";/>
		</div>

		<div class="column bio">

			<p> <font size="+2"><strong>Nama:</strong> Komputer </font></p>
			<p> <font size="+2"><strong>Umur:</strong> Sudah lama di Fasilkom</font></p>
			<p> <font size="+2"><strong>Tempat, tanggal lahir:</strong> Semenjak Fasilkom ada </font></p>
			<p> <font size="+2"><strong>Institusi:</strong> Fakultas Ilmu Komputer, Universitas Indonesia</font></p>
			<p> <font size="+2"><strong>Hobi:</strong> Jadi tempat orang ngoding</font></p>
			<p> <font size="+2"><strong>Social Media:</strong> saya tempat kalian semua main sosmed</font></p>
		</div>
	</div>


</body>
 
</html>